fastapi
uvicorn
sqlalchemy
alembic
pydantic
pydantic[email]
sentence-transformers
torch
numpy
python-multipart
python-jose[cryptography]
passlib[bcrypt]
spacy
python-multipart
python-docx
PyMuPDF
requests
python-dotenv